p
  | Hi, #{@user.first_name}!
p
  | You are invited to join <b>EMR BCDiabetes</b>.
  br
  | Please follow the link below to finish you registration:
p
  a href="#{ENV["URL_WEB"]}/#!/invite/#{@token.token}" Join EMR BCDiabetes
p
  | Please contact us if you have any questions or troubles.

= render "/shared/footer"

