p
  | Hi, #{@user.first_name}!
p
  | Someone has made password reset request on <b>EMR BCDiabetes</b> and has specified your e-mail address.
  br
  | Ignore this message if you didn't make such request.
  br
  | If you want to change your password, please follow the link below:
p
  a href="#{ENV["URL_WEB"]}/#!/reset_password/#{@token.token}" Change you password
p
  | Please contact us if you have any questions or troubles.

= render "/shared/footer"
